<main>
    <h1></h1>
    <section class="elevation--2dp sheet">
        <h2 id="question"></h2>
        <span class="top-right" id="domain"></span>
        <div id="droptarget"></div>
        <div class="center flexbox wrap" id="answers">
            <div class="draggable answer" draggable="false" hidden="hidden">
                <label></label>
            </div>
        </div>
        <ul class="action-group">
            <li>
                <a id="dashboard" routerLink="/dashboard">
                    <i class="material-icons">dashboard</i>
                    <span class="large-screen">Retourner au tableau de bord</span>
                </a>
            </li>
            <li>
                <a id="next-question">
                    <span class="large-screen">Question suivante</span>
                    <i class="material-icons">navigate_next</i>
                </a>
            </li>
        </ul>
    </section>
    <aside>
        <h1>Score courant</h1>
        <div id="score">0 / 0</div>
    </aside>
</main>
