<header class="navbar elevation--4dp">
    <h1 class="title large-screen">
        <span>Web</span>
        <span class="logo"></span>
        <span>uiz</span>
    </h1>
    <h1 class="title small-screen">
        <span class="logo"></span>
    </h1>
    <nav>
        <ul>
            <li class="navbar-button">
                <a routerLink="/">
                    <i class="material-icons small-screen">home</i>
                    <span class="large-screen">Accueil</span>
                </a>
            </li>
            <li class="navbar-button">
                <a routerLink="/dashboard">
                    <i class="material-icons small-screen">dashboard</i>
                    <span class="large-screen">Tableau de bord</span>
                </a>
            </li>
            <li class="navbar-button">
                <a routerLink="/question">
                    <i class="material-icons small-screen">plus_one</i>
                    <span class="large-screen">Ajouter une question</span>
                </a>
            </li>
            <li class="navbar-button">
                <a routerLink="/instructions">
                    <i class="material-icons small-screen">help</i>
                    <span class="large-screen">Instructions</span>
                </a>
            </li>
        </ul>
    </nav>
</header>
