doctype html
html(lang="en")
  head
    block title
      title Web quiz | #{pageTitle}
      
  body
    // navbar.pug
    include layouts/navbar/navbar.pug
    // /navbar.pug
    // content block
    block content
    // /content block
    // footer.pug
    include layouts/footer/footer.pug
    // /footer.pug
