<div>
    <main>
        <h1>Tableau de bord</h1>
        <a (click)="modalGrades = true">Accéder au détail des notes !</a>
        <section class="central">
            <h1>Statistiques</h1>
            <section>
                <h1>Taux de réussite</h1>
                <p class="question-statistics">
                    <i class="material-icons loading" *ngIf="hasTotalRatio == undefined">autorenew</i>
                    <span *ngIf="hasTotalRatio === true">
                        Votre taux de réussite est de {{ totalRatio | number:'1.0-2' }}%
                    </span>
                    <span *ngIf="hasTotalRatio === false">
                        Vous n’avez aucune statistique pour le moment
                    </span>
                </p>
            </section>
            <section>
                <h1>Moyenne</h1>
                <p class="exam-mean">
                    <i class="material-icons loading" *ngIf="hasMean == undefined">autorenew</i>
                    <span *ngIf="hasMean === true">
                        Votre moyenne aux examens est de {{ mean | number:'1.0-2' }} / 20
                    </span>
                    <span *ngIf="hasMean === false">
                        Vous n’avez finit aucun examen
                    </span>
                </p>
            </section>
        </section>
        <a (click)="removeStatistics()" *ngIf="hasTotalRatio != undefined">Remise à zéro</a>
        <aside>
            <h1>Accès rapide</h1>
            <ul>
                <li>
                    <a class="button" routerLink="/test">Test</a>
                </li>
                <li>
                    <a class="button" (click)="modalExam = true">Exam</a>
                </li>
            </ul>
        </aside>
    </main>
    <!-- modals-->
    <!-- modal-notes-->
    <div class="modal" id="modal-notes" [ngClass]="{focus: modalGrades}">
        <div class="bootstrap">
            <header>
                <button type="button" (click)="modalGrades = false" class="close float-right" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h2>Détails des notes :</h2>
            </header>
            <section>
                <div class="table-responsive">
                    <table class="table table-striped table-bordered">
                        <thead>
                        <tr>
                            <th>Domaines</th>
                            <th>Date</th>
                            <th>réponses juste</th>
                            <th>total des réponses</th>
                            <th>Note (/20)</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr *ngFor="let result of results">
                            <td>{{result.domains.join(', ') || "Tous"}}</td>
                            <td [title]="result.timestamp | date:'H:mm'">{{result.timestamp | date : "MM/dd/yyyy"}}</td>
                            <td>{{result.goodAnswers}}</td>
                            <td>{{result.totalAnswers}}</td>
                            <td>
                                {{result.totalAnswers ? (20 * result.goodAnswers / result.totalAnswers).toFixed(2) : 0}}
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <div *ngIf="!results">Vous n’avez finit aucun examen</div>
                </div>
            </section>
        </div>
    </div>
    <!-- /modal-notes-->
    <!-- modal-exam-->
    <div class="modal" id="modal-exam" [ngClass]="{focus: modalExam}">
        <div>
            <header>
                <a class="float-right" (click)="modalExam = false" title="Fermer la fenêtre">X</a>
                <h2>Choix des caractéristiques de l’examen :</h2>
            </header>
            <form (ngSubmit)="startExam()">
                <fieldset>
                    <legend>Theme et nombre de questions</legend>
                    <label for="numberOfQuestions">Nombre de questions :</label>
                    <input id="numberOfQuestions" type="number" min="1" value="10" [(ngModel)]="numberOfQuestionsInput"
                           name="numberOfQuestionsInput" autofocus="autofocus"/>
                    <label for="domains">Domaines concernés :</label>
                    <select id="domains" [(ngModel)]="domainsInput" name="domainsInput" multiple="multiple">
                        <option *ngFor="let domain of domains | async" [value]="domain">{{domain}}</option>
                    </select>
                </fieldset>
                <input class="button" id="start-exam" type="submit" value="Commencer"/>
            </form>
        </div>
    </div>
    <!-- /modal-exam-->
</div>
