<div>
    <main>
        <h1>Tableau de bord</h1>
        <a href="#modal-notes">Accéder au détail des notes !</a>
        <section class="central">
            <h1>Statistiques</h1>
            <section>
                <h1>Taux de réussite</h1>
                <p class="question-statistics">
                    <i class="material-icons loading" *ngIf="hasTotalRatio == undefined">autorenew</i>
                    <span *ngIf="hasTotalRatio === true">
                        Votre taux de réussite est de {{ totalRatio }}%
                    </span>
                    <span *ngIf="hasTotalRatio === false">
                        Vous n’avez aucune statistique pour le moment
                    </span>
                </p>
            </section>
            <section>
                <h1>Moyenne</h1>
                <p class="exam-mean">
                    <i class="material-icons loading">autorenew</i>
                </p>
            </section>
        </section>
        <a id="reset">Remise à zéro</a>
        <aside>
            <h1>Accès rapide</h1>
            <ul>
                <li>
                    <a class="button" routerLink="/test">Test</a>
                </li>
                <li>
                    <a class="button" href="#modal-exam">Exam</a>
                </li>
            </ul>
        </aside>
    </main>
    <!-- modals-->
    <!-- modal-notes-->
    <div class="modal" id="modal-notes">
        <div>
            <header>
                <a class="droite" href="#" title="Fermer la fenêtre">X</a>
                <h2>Détails des notes :</h2>
            </header>
            <section>
                <div class="exam-statistics">
                    <table>
                        <thead>
                            <tr>
                                <th>Domaines</th>
                                <th>Date</th>
                                <th>réponses juste</th>
                                <th>total des réponses</th>
                                <th>Note (/20)</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="domains"></td>
                                <td class="date"></td>
                                <td class="good-answers"></td>
                                <td class="total-answers"></td>
                                <td class="grade"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </section>
        </div>
    </div>
    <!-- /modal-notes-->
    <!-- modal-exam-->
    <div class="modal" id="modal-exam">
        <div>
            <header>
                <a class="droite" href="#" title="Fermer la fenêtre">X</a>
                <h2>Choix des caractéristiques de l’examen :</h2>
            </header>
            <form method="POST" action="/exam">
                <fieldset>
                    <legend>Theme et nombre de questions</legend>
                    <label for="numberOfQuestions">Nombre de questions :</label>
                    <input id="numberOfQuestions" type="number" min="1" value="10" name="numberOfQuestions" autofocus="autofocus"/>
                    <label for="domains">Domaines concernés :</label>
                    <select id="domains" name="domains" multiple="multiple">
                        <option value="foo">foo</option>
                    </select>
                </fieldset>
                <input class="button" id="start-exam" type="submit" value="Commencer"/>
            </form>
        </div>
    </div>
    <!-- /modal-exam-->
</div>
