-
  var pages = [
    {path: "/", title: "Accueil", icon: "home"},
    {path: "/dashboard/", title:"Tableau de bord", icon: "dashboard"},
    {path: "/instructions/", title:"Instructions", icon: "help"}
  ]

header.navbar.elevation--4dp
  h1.title
    span Web
    span.logo
    span uiz
  nav
    ul
      each page in pages
        li.navbar-button
          a(href=page.path)
            i.material-icons= page.icon
            = page.title
