@import "../../palette";

.navbar {
  top: 0;
  left: 0;
  width: 100%;
  position: fixed;
  background: @primaryColor;
  color: @primaryTextColor;
  display: inline-flex;
  justify-content: space-around;
  padding: 20px;
  border-bottom: 2px solid @dividerColor;
  align-items: center; //On aligne les ul>li sur la même ligne que le titre
  .title {
    display: flex;
  }
  .logo {
    width: 37px;
    background-image: url('/assets/logo.png');
    background-size: contain;
    background-repeat: no-repeat;
  }

  ul {
    list-style-type: none;
    display: inline-flex;
  }
  ul>li {
    margin: 0 20px;
    padding: 10px;
  }

  ul>li>a {
    text-decoration: none;
    color: @primaryTextColor;
  }

  ul>li>a:hover {
    color: @accentColor;
  }

  ul>li>.material-icons {
    margin-top: 25px;
  }
}
