-
  var pages = [
    {path: "/", title: "Accueil"},
    {path: "/dashboard/", title:"Tableau de bord"},
    {path: "/instructions/", title:"Instructions"}
  ]

header.navbar.elevation--4dp
  h1.title
    span Web
    span.logo
    span uiz
  nav
    ul
      each page in pages
        li.navbar-button
          a(href=page.path)= page.title
