doctype html
html(lang="fr")
  head
    meta(charset='UTF-8')
    block title
      title Web quiz | #{pageTitle}
    link(rel='shortcut icon' href='/images/logo.png' type='image/x-icon')

    // opengraph
    meta(property="og:title" content="WebQuiz")
    meta(property="og:description" content="Questionnaires sur les technologies du Web")
    meta(property="og:type" content="website")
    meta(property="og:locale" content="fr")
    meta(property="og:site_name" content="WebQuiz")
    meta(property="og:image" content="http://vps294606.ovh.net/images/logo.png")
    meta(property="og:url" content="http://vps294606.ovh.net")
    // /opengraph

    // css
    link(rel='stylesheet' href='/less-css/main.css')
    link(rel='stylesheet' href='/less-css/layouts/navbar.css')
    link(rel='stylesheet' href='/less-css/layouts/footer.css')
    link(rel='stylesheet' href='https://fonts.googleapis.com/icon?family=Material+Icons')
    link(rel='stylesheet' href='/stylesheets/material-icons.min.css')
    // /css

    // fonts
    link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto")
    // /fonts


    script(src="node_modules/core-js/client/shim.min.js")
    script(src="node_modules/zone.js/dist/zone.js")
    script(src="node_modules/reflect-metadata/Reflect.js")
    script(src="node_modules/systemjs/dist/system.src.js")

    script(src="systemjs.config.js")
    script System.import('app').catch(function(err){ console.error(err); });
  body
    // navbar.pug
    include layouts/navbar/navbar.pug
    // /navbar.pug

    // classe englobante
    div.main-container
      // content block
      block content
        app loading..
      // /content block

    // footer.pug
    include layouts/footer/footer.pug
    // /footer.pug
