div
  div.success([hidden]="saved !== true") Votre question à été enregistrée !
  div.error([hidden]="saved !== false") Il y a eu une erreur, veuillez redémarrer votre ordinateur...
  div.elevation--2dp
    form.question
      div
        label(for="question") Question
        input#question(type="text" name="question" [(ngModel)]="question.question" required)
      div
        label(for="domain") Domaine
        input#domain(type="text" name="domain" [(ngModel)]="question.domain" required)
      div.answers(*ngFor="let answer of question.answers; let index = index")
        div
          label Réponse {{index}} :
          input(type="text" [(ngModel)]="answer" required)
          input(type="radio" [(ngModel)]="question.goodAnswer" value="{{index}}" required)
          a.delete((click)="deleteAnswer(index)")
            i.material-icons delete
      a.add((click)="addAnswer()")
        i.material-icons add
      a((click)="debug()") debug
      button(type="submit").button Envoyer
