extends ../index

prepend title
  - var pageTitle = "resultats"

append scripts
  script(src="/javascripts/result.js")

block content
  main
    h1 Félicitations, vous avez fini votre test !
    p.result
    div.big-centered-button-container
      a.big-centered-button(href='/dashboard') Retourner au Tableau de bord
