doctype html
html(lang="fr")
  head
    meta(charset='UTF-8')
    block title
      title Web quiz | #{pageTitle}
    link(rel='shortcut icon' href='assets/logo.png' type='image/x-icon')

    // opengraph
    meta(property="og:title" content="WebQuiz")
    meta(property="og:description" content="Questionnaires sur les technologies du Web")
    meta(property="og:type" content="website")
    meta(property="og:locale" content="fr")
    meta(property="og:site_name" content="WebQuiz")
    meta(property="og:image" content="http://vps294606.ovh.net/assets/logo.png")
    meta(property="og:url" content="http://vps294606.ovh.net")
    // /opengraph

    // css
    link(rel='stylesheet' href='/main.css')
    link(rel='stylesheet' href='/layouts/navbar/navbar.css')
    link(rel='stylesheet' href='/layouts/footer/footer.css')
    link(rel='stylesheet' href='https://fonts.googleapis.com/icon?family=Material+Icons')
    link(rel='stylesheet' href='/lib/material-icons.min.css')
    // /css

  body
    // navbar.pug
    include layouts/navbar/navbar.pug
    // /navbar.pug

    //classe englobante
    div.container
      // content block
      block content
      // /content block
      // footer.pug
      include layouts/footer/footer.pug
      // /footer.pug
