@import "palette";

/* ================== TABLE OF CONTENTS ===============================
 - Palette and color classes
 - Footer
   ==================================================================== */





/* ====================================================================
    Palette and color classes
   ==================================================================== */


.dark-primary-color   {	background-color: @darkPrimaryColor   }
.primary-color        {	background-color: @primaryColor       }
.light-primary-color  {	background-color: @lightPrimaryColor  }
.accent-color         {	background-color: @accentColor        }
.primary-text-color   {	color:            @primaryTextColor   }
.secondary-text-color {	color:            @secondaryTextColor }
.divider-color        {	background-color: @dividerColor       }


/* ====================================================================
   Material design elevation
   ==================================================================== */
.elevation--4dp {
  box-shadow: 0 4px 5px 0 rgba(0,0,0,.14),
              0 1px 10px 0 rgba(0,0,0,.12),
              0 2px 4px -1px rgba(0,0,0,.2);
}

/* ====================================================================
   Main content
   ==================================================================== */
body{
  background: @lightPrimaryColor;
}

.container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center; //On centre les blocs dans la page
  padding: 0 150px;
  margin-top: 125px; // navbar height

  main{
    flex-basis: 100%;
    padding: 5px;
    text-decoration-color: @primaryTextColor;

    p{
      padding-left:10px;
      text-align: justify;
    }
  }
}

.page-header{
  margin-bottom : 10px;
  border-bottom:1px solid @accentColorHalfOpacity;
}
