extends ../index.pug

prepend title
  - var pageTitle = "tableau de bord"

block content
  main
    h1 Tableau de bord
    section.central
      h1.page-header Statistiques
      section
        h1 Taux de réussite
        p.
          Votre taux de réussite est de : 84%
      section
        h1 Moyenne
        p.
          La moyenne des notes aux examens est : 16/20.
      section
        h1 Résultats par examens
        table
          thead
            tr
              th Cours
              th Evaluation
              th Date
              th Note (/20)
          tbody
            tr
              td LOG4420
              td HTML5
              td 18/09/2016
              td 20
            tr
              td INF3710
              td E/A
              td 20/09/2016
              td 12
            tr
              td INF2705
              td OpenGL
              td 25/09/2016
              td 19
            tr
              td LOG4715
              td Bases
              td 28/09/2016
              td 14

    aside
      h1.page-header Accès rapide
      ul
        li
          a(href='/test/1') Test
        li
          a(href='/exam/1') Exam
