extends ../index.pug

prepend title
  - var pageTitle = "Accueil"

block content
  // L’image n’est pas dans le main car elle n’est pas nécessaire à la compréhension du site.
  img(src='/assets/logo.png' alt='logo')
  main
    h1 Bienvenue sur WebQuiz !
    p
      | Vous êtes en forme ? Alors essayez une batterie de quizz à propos des nouvelles technologies du Web comme&nbsp;
      strong HTML5
      | ,&nbsp;
      strong Javascript
      | , ou&nbsp;
      strong CSS3
      | . Bien sûr vous pouvez retrouvez aussi des tests sur des technologies dites avancées comme :
      | AngularJS, HTTP...
