extends ../index.pug

prepend title
  - var pageTitle = "resultats"

block content
  main.min-page-height
    h1.page-header Félicitations, vous avez fini votre test !
    p Vous avez 2/2 bonnes réponses.
    div.big-centered-button-container
      a.big-centered-button(href='/dashboard') Retourner au Tableau de bord
