<div>
    <div class="success" [hidden]="saved !== true">Votre question à été enregistrée !</div>
    <div class="error" [hidden]="saved !== false">Il y a eu une erreur, veuillez redémarrer votre ordinateur...</div>
    <div class="elevation--2dp">
        <form class="question">
            <div>
                <label for="question">Question</label>
                <input id="question" type="text" name="question.question" [(ngModel)]="question.question" required/>
            </div>
            <div>
                <label for="domain">Domaine</label>
                <input id="domain" type="text" name="question.domain" [(ngModel)]="question.domain" required/>
            </div>
            <div class="answers" *ngFor="let _ of dummyArray; let i = index">
                <div>
                    <label for="question.answers[]">Réponse {{i+1}} :</label>
                    <input type="text" id="question.answers[]" name="question.answers[]"
                           [(ngModel)]="question.answers[i]" placeholder="{{question.answers[i]}}" required/>
                    <!-- we use a placeholder because we had an issue binding [value], see github issue #43-->
                    <input type="radio" name="question.goodAnswer" [(ngModel)]="question.goodAnswer" [value]="i"
                           required/>
                    <a class="delete" (click)="deleteAnswer(i)">
                        <i class="material-icons">delete</i>
                    </a>
                </div>
            </div>
            <a class="add" (click)="addAnswer()">
                <i class="material-icons">add</i>
            </a>
            <a (click)="debug()">debug</a>
            <button class="button" type="submit">Envoyer</button>
        </form>
    </div>
</div>