@import "../../palette";

/* ====================================================================
   Footer
   ==================================================================== */

footer {
  background-color: @primaryColor;
  flex-basis: 100%;
  align-items: center;
  margin-top: 40px;
}
