/* ====================================================================
   Footer
   ==================================================================== */

footer {
  flex-basis: 100%;
  align-items: center;
  margin-top: 40px;
}
