@import "misc/palette";

/* ====================================================================
   Footer
   ==================================================================== */

footer {
  background-color: @primaryColor;
  width: 100%;
  margin: 0;
  align-items: center;
  margin-top: 40px;
}
