-
  var pages = [
    {path: "/", title: "Home"},
    {path: "/dashboard/", title:"Dashboard"},
    {path: "/instruction/", title:"Instruction"}
  ]

nav
  ul
    each page in pages
      li
        a(href=page.path)= page.title
