-
  var pages = [
    {path: "/", title: "Accueil"},
    {path: "/dashboard/", title:"Tableau de bord"},
    {path: "/instructions/", title:"Instructions"}
  ]

header
  h1 WebQuiz
  nav
    ul
      each page in pages
        li
          a(href=page.path)= page.title
