<div>
    <main>
        <h1>Bienvenue sur WebQuiz !</h1>
        <p>WebQuiz est un site conçu par des étudiants pour des étudiants. Son but principal est de vous familiariser et de tester
            vos connaissances sur les différentes technologies du Web. Chaque quiz possède un certain de niveau difficulté et
            précise les thèmes sur lesquels les questions portent afin de cibler plus facilement vos révisions.
        </p>
        <p>Vous êtes prêt ? Alors plongez dans l'univers des technologies du web, et tentez de répondre à un maximum de questions.
            Plus vos performances seront bonnes, plus il sera possible de débloquer des trophées reflétant votre investissement et votre progression.essayez une batterie de quizz à propos des nouvelles technologies du Web comme&nbsp;
            <strong>HTML5</strong>,&nbsp;
            <strong>Javascript</strong>, ou&nbsp;
            <strong>CSS3&nbsp;</strong>ou encore Angular2, HTTP..., tous les domaines seront présents dans les questionnaires !
        </p>
    </main>
    <div class="image-wrapper">
        <img src="/images/logo.png" alt="logo"/>
    </div>
</div>