extends ../index.pug

prepend title
  - var pageTitle = "tableau de bord"

append scripts
  script(src="/javascripts/dashboard.js")

block content
  main
    h1 Tableau de bord

    a(href="#modal-notes") Accéder au détail des notes !

    section.central
      h1.page-header Statistiques
      section
        h1 Taux de réussite
        p.
          Votre taux de réussite est de : 84%
      section
        h1 Moyenne
        p.
          La moyenne des notes aux examens est : 16/20.

      section
        h1 Résultats par examens

        table
          thead
            tr
              th Cours
              th Evaluation
              th Date
              th Note (/20)
          tbody
            tr
              td LOG4420
              td HTML5
              td 18/09/2016
              td 20
            tr
              td INF3710
              td E/A
              td 20/09/2016
              td 12
            tr
              td INF2705
              td OpenGL
              td 25/09/2016
              td 19
            tr
              td LOG4715
              td Bases
              td 28/09/2016
              td 14

    aside
      h1.page-header Accès rapide
      ul
        li
          a(href='/test').button Test
        li
          a(href='#modal-exam').button Exam

    // modals
    // modal-notes
    div(id="modal-notes" class="modal")
      div
        header
          a(href="#" title="Fermer la fenêtre" class="droite") X
          h2 Détails des notes :
        section
          p
            table
              thead
                tr
                  th Cours
                  th Evaluation
                  th Date
                  th Note (/20)
              tbody
                tr
                  td LOG4420
                  td HTML5
                  td 18/09/2016
                  td 20
                tr
                  td INF3710
                  td E/A
                  td 20/09/2016
                  td 12
                tr
                  td INF2705
                  td OpenGL
                  td 25/09/2016
                  td 19
                tr
                  td LOG4715
                  td Bases
                  td 28/09/2016
                  td 14
    // /modal-notes

    // modal-exam
    div(id="modal-exam" class="modal")
      div
        header
          a(href="#" title="Fermer la fenêtre" class="droite") X
          h2 Choix des caractéristiques de l’examen :
        form(method="POST" action="/api/test" id="start-exam")
          fieldset
            legend Theme et nombre de questions
            label(for="numberOfQuestions") Nombre de questions :
            input(type="number" min=1 max=2 value=1 name="numberOfQuestions" autofocus)
            label(for="domains") Domaines concernés :
            select(name="domains" multiple)
              each domain in ['HTML5', 'CSS3']
                option(value= domain)= domain
          input(type="submit" value="Commencer").button
    // /modal-exam
