extends ../index

prepend title
  - var pageTitle = "tableau de bord"

append scripts
  script(src="/javascripts/dashboard.js")

block content
  main
    h1 Tableau de bord

    a(href="#modal-notes") Accéder au détail des notes !

    section.central
      h1 Statistiques
      section
        h1 Taux de réussite
        p.question-statistics
          i.material-icons.loading autorenew
      section
        h1 Moyenne
        p.exam-mean
          i.material-icons.loading autorenew

    a#reset Remise à zéro
    aside
      h1 Accès rapide
      ul
        li
          a(href='/test/').button Test
        li
          a(href='#modal-exam').button Exam
  //- ------------------------------------------------------------------------
  // modals
  // modal-notes
  div(id="modal-notes" class="modal")
    div
      header
        a(href="#" title="Fermer la fenêtre" class="droite") X
        h2 Détails des notes :
      section
        div.exam-statistics
          table
            thead
              tr
                th Domaines
                th Date
                th réponses juste
                th total des réponses
                th Note (/20)
            tbody
              tr
                td.domains
                td.date
                td.good-answers
                td.total-answers
                td.grade
  // /modal-notes

  // modal-exam
  div(id="modal-exam" class="modal")
    div
      header
        a(href="#" title="Fermer la fenêtre" class="droite") X
        h2 Choix des caractéristiques de l’examen :
      form(method="POST" action="/exam" id="start-exam")
        fieldset
          legend Theme et nombre de questions
          label(for="numberOfQuestions") Nombre de questions :
          input(type="number" min=1 value=10 name="numberOfQuestions" autofocus)
          label(for="domains") Domaines concernés :
          select(name="domains" multiple)
            each domain in ['HTML5', 'CSS3', 'JS', 'Divers']
              option(value= domain)= domain
        input#start-exam.button(type="submit" value="Commencer")
  // /modal-exam
