extends ../index.pug

prepend title
  - var pageTitle = "Quick test"

append scripts
  script(src="/javascripts/test.js" data-id=id)
  script(src="/javascripts/dragndrop.js")

block content
  main.min-page-height
    h1.page-header= firstHeader
    section.elevation--2dp.sheet
      h1#question
      span.top-right#domain
      div#droptarget Faites glisser la réponse !
      form#form-answers
        // Cette balise servira plus tard pour le CSS
        div#answers.center
              div.draggable.answer(hidden, draggable='true')
                //Utilité de la checbox avec le drag&drop
                input(type='checkbox')
                label
        ul.action-group
          li
              a#dashboard(href='/dashboard')
                i.material-icons d  ashboard
                span.large-screen Retourner au tableau de bord
          li
              a#next-question
                span.large-screen Page suivante
                i.material-icons navigate_next
    aside
      h1 Score courant
      p 20/20
