extends ../index

prepend title
  - var pageTitle = firstHeader

append scripts
  script var pageId="#{id}";
  script(src="/javascripts/test.js")

block content
  main.min-page-height
    h1.page-header= firstHeader
    section.elevation--2dp.sheet
      h1#question
      span.top-right#domain
      div#droptarget
      div#answers.center.flexbox.wrap
            div.draggable.answer(draggable='false' hidden)
              //- TODO: remove this and change js accordingly
              label
      ul.action-group
        li
            a#dashboard(href='/dashboard')
              if id == 'exam'
                i.material-icons sentiment_very_dissatisfied
                span.large-screen Abandonner
              else
                i.material-icons dashboard
                span.large-screen Retourner au tableau de bord
        li
            a#next-question
              span.large-screen Question suivante
              i.material-icons navigate_next
    aside
      h1 Score courant
      div#score 0 / 0
