extends ../index.pug

prepend title
  - var pageTitle = "home"

block content
  //- FIXME: does an image have a specific place in a document ?
  img(src='http://placehold.it/100x100' alt='logo')
  //- FIXME: main content usefull ?
  main
    h1 Welcome to web quiz!
    p
      | How good are you ? Try a bunch of quiz about web new technologies such as
      strong HTML5
      | ,
      strong Javascript
      | , or
      strong CSS3
      | . You can also have a lot of tests in a lot of more specific technologies:
      | AngularJS, HTTP...
