extends ../index.pug

prepend title
  - var pageTitle = "home"

block content
  // L’image n’est pas dans le main car elle n’est pas nécessaire à la compréhension du site.
  img(src='//placehold.it/100x100' alt='logo')
  main
    h1 Welcome to web quiz!
    p
      | How good are you ? Try a bunch of quiz about web new technologies such as&nbsp;
      strong HTML5
      | ,&nbsp;
      strong Javascript
      | , or&nbsp;
      strong CSS3
      | . You can also have a lot of tests in a lot of more specific technologies:
      | AngularJS, HTTP...
