extends ../index.pug

prepend title
  - var pageTitle = "instructions"

block content
  main
    h1 Instructions d'utilisation
    section
      h1 Comment naviguer sur WebQuiz ?
      p.
        Afin d'avoir une navigation la plus fluide possible, l'équipe de WebQuiz
        vous recommande d'utiliser la barre de navigation. celle-ci est conçue
        de telle sorte à vous emmener sur les principales parties du site.
    section
      h1 Comment utiliser les questionnaires ?
      p.
        Nous vous conseillons d'utiliser les questionnaires uniquement après
        avoir révisé votre cours. Des questions pointues vous seront posés afin
        de tester réellement vos connaissances et l'assimilation de celles-ci.
