extends ../index.pug

prepend title
  - var pageTitle = "resultats"

block content
  main
    h1 Félicitations, vous avez fini votre test !
    p Vous avez 2/2 bonnes réponses.
    a(href='/dashboard') Retourner au Tableau de bord
