footer
  p
    | Copyright&nbsp;
    span.copy-logo &copy;
    | &nbsp;
    span(title=1862471) Lucas Boudereaux
    | ,&nbsp;
    span(title=1860737) Ulysse Buonomo
    | &nbsp;— code source et license (MIT) disponible sur&nbsp;
    a(href="//github.com/buonomo/webquiz") Github
    | .
